/*variables*/
:root {
  --backgroundGrannyApple: #cbddd1;
  --backgroundBlackish: #272727;
}

/*Reset browser defaults*/
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*base styles*/
body {
  background-color: var(--backgroundGrannyApple);
  overflow-x: hidden;
}

/*mobile styles*/
body {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.topbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.logo {
  grid-column: 3;
}

.bottombar {
  grid-row: 9;
}

#map {
  grid-row: 2/8;
  grid-column: 1/6;
}

.bottomspace {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
}

.parkcenter {
  position: fixed;
  left: 35%;
}

.nearme {
  justify-self: center;
}
.paid {
  justify-self: center;
}
.blank {
  justify-self: center;
}
.saved {
  justify-self: center;
}
.report {
  justify-self: center;
}

/*desktop styles*/
@media screen and (min-width: 960px) {
  body {
  }
}
